@model IEnumerable<BOBDrive.Models.User>

@foreach (var user in Model)
{
    <tr data-user-id="@user.Id">
        <td>@user.FullName (@user.Username)</td>
        <td>@(user.Department != null ? user.Department.Name : "Unknown")</td>
        <td>@(user.CreatedAt.ToShortDateString())</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-success btn-sm js-approve" data-user-id="@user.Id">
                    <i class="glyphicon glyphicon-ok"></i> Approve
                </button>
                <button type="button" class="btn btn-danger btn-sm js-reject" data-user-id="@user.Id">
                    <i class="glyphicon glyphicon-remove"></i> Reject
                </button>
            </div>
        </td>
    </tr>
}