@model BOBDrive.ViewModels.ShareLinkAccessViewModel
@{
    ViewBag.Title = "Shared Files";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ensure it uses the main layout
}

<div class="container">
    <h2>Shared Files</h2>
    <hr />

    @* STRUCTURE HAS BEEN REFINED TO A CLEARER IF/ELSE IF/ELSE BLOCK *@

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        @* 1. If there's an error message, show it first and foremost. *@
        <div class="alert alert-danger" style="margin-top: 15px;">
            @Model.ErrorMessage
        </div>
    }
    else if (Model.IsPasswordVerified)
    {
        @* 2. If there's no error AND the password is correct, show the files. *@
        if (Model.Files == null || !Model.Files.Any())
        {
            <div class="alert alert-warning">No files are available for this link. They may have been deleted.</div>
        }
        else
        {
            <div class="list-group">
                @foreach (var file in Model.Files)
                {
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-5">
                                <h4 class="list-group-item-heading">
                                    <i class="glyphicon glyphicon-file"></i> @file.Name
                                </h4>
                                <p class="list-group-item-text">
                                    <strong>Size:</strong> @string.Format("{0:0.00} MB", (double)file.Size / (1024 * 1024))
                                    | <strong>Type:</strong> @file.ContentType
                                </p>
                            </div>
                            <div class="col-md-4">
                                @if (!string.IsNullOrEmpty(file.ZipPassword))
                                {
                                    <strong>Zip Password:</strong>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="text" class="form-control zip-password-text" value="@file.ZipPassword" readonly style="background:white;" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default copy-password-btn" type="button" title="Copy Password">
                                                <i class="glyphicon glyphicon-copy"></i>
                                            </button>
                                        </span>
                                    </div>
                                }
                            </div>
                            <div class="col-md-3 text-right">
                                <a href="@Url.Action("SharedDownload", "File", new { id = file.Id })"
                                   class="btn btn-success" style="margin-top:10px;">
                                    <i class="glyphicon glyphicon-download-alt"></i> Download
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
    else
    {
        @* 3. If there's no error and password is NOT verified, show the login form. *@
        if (Model.IsExternalLoginRequired)
        {
            <h4>Secure Access</h4>
            <p>Please enter your email address and the password for this link to proceed.</p>
        }
        else
        {
            <h4>Password Required</h4>
            <p>This link is password protected. Please enter the password to view the files.</p>
        }

        using (Html.BeginForm("PasswordProtect", "ShareableLink", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="token" value="@Model.Link.Token" />

            if (Model.IsExternalLoginRequired)
            {
                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">Your Email:</label>
                    <div class="col-md-10" style="max-width:400px;">
                        <input type="email" name="email" id="email" class="form-control" required autofocus />
                    </div>
                </div>
            }

            <div class="form-group">
                <label for="password" class="col-md-2 control-label">Password:</label>
                <div class="col-md-10" style="max-width:400px;">
                    <input type="password" name="password" id="password" class="form-control" required
                                         @if (!Model.IsExternalLoginRequired) { <text>autofocus</text> } />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        }
    }
</div>

@section scripts {
    <script type="text/javascript">
        // Script to handle the copy button on the password-protect page
        $(document).ready(function () {
            $('.copy-password-btn').on('click', function () {
                var copyText = $(this).closest('.input-group').find('input[type="text"]')[0];
                copyText.select();
                document.execCommand("copy");
                var $btn = $(this);
                var originalIcon = 'glyphicon-copy';
                var successIcon = 'glyphicon-ok';
                $btn.find('.glyphicon').removeClass(originalIcon).addClass(successIcon);
                setTimeout(function () {
                    $btn.find('.glyphicon').removeClass(successIcon).addClass(originalIcon);
                }, 1500);
            });
        });
    </script>
}